<html>

<head>
  <title>Solar PV</title>
  <link href="../../static/solarpv/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <a href="" class="logo"><img src="../../static/solarpv/SolarPV.jpg" alt="Solar PV Logo"></a>
        <nav>
          <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About US</a></li>
            <li><a href="">Contact US</a></li>
            <li><a href="">Social Media Links</a></li>
          </ul>
        </nav>
      </div>
      <h1>solarPV</h1>
      <h4>Research & Development</h4>
    </div>
  </header>
  <section id="section1">
    <ul>
      <li><a href="">Racks & Trackers</a></li>
      <li><a href="">PV Module</a></li>
      <li><a href="">PV Systems</a></li>
      <li><a href="">Data Analytics</a></li>
      <li><a href="">Cybersecurity</a></li>
    </ul>
  </section>
  <section id="section2">
    <div class="row">
      <div class="column" id="column1">
        <ul id=column1list1>
          <li><a href="/register">Register</a></li>
          <li> | </li>
          <li><a href=""> Login</a></li>
        </ul>
        <div id="lists">
          PV Module
          <ul>
            <li><a href="">Testing & Certification</a></li>
            <li><a href="">PV Rating</a></li>
          </ul>
          PV System Performance
          <ul>
            <li><a href="">Monitoring & Inspection</a></li>
            <li><a href="">Performance Analysis</a></li>
            <li><a href="">Compare System</a></li>
            <li><a href="">Certification</a></li>
          </ul>
          Data Analytics
          <ul>
            <li><a href="">Module Lifetime Prediction</a></li>
            <li><a href="">Energy Prediction</a></li>
          </ul>
          Cybersecurity and Smart Grid Technologies<br><br>
          Solar PV University
        </div>
      </div>
      <div class="column" id="column2">Featured Contents</div>
      <div class="column" id="column3">
        <div id="column3header">News & Events</div>
        <div id="column3list">
          <ul>
            <li><a href="">PhotoVoltaic Technical Conference to take place in Marseille, France from 26 to 28 April
                2017</a></li>
            <li><a href="">Trump is next US president</a></li>
            <li><a href="">Syrian forces recapture Aleppo</a></li>
            <li><a href="">Senate votes on SCOTUS nominee</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="footer">
    SolarPV @2021 All Rights Reserved
    <div id="footerlist">
      <ul>
        <li>Address | </li>
        <li>Phone | </li>
        <li>Email | </li>
        <li>Website | </li>
      </ul>
    </div>
    <div id="footerlist">
      <ul>
        <li><a href=""> Site Map | </a></li>
        <li><a href=""> Terms&Conditions | </a></li>
        <li><a href=""> Privacy Policy | </a></li>
        <li><a href=""> About Us | </a></li>
      </ul>
  </section>
</body>

</html>