<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body bgcolor="khaki">
    <br /><br /><br /><br /><br />
    <center>
      <br />
      <hr size="4" color="blue" />
      <br /><br />
      <table border="1" width="800" height="300">
        <tbody>
          <tr>
            <th align="center" colspan="3">SolarPV Regisration Form</th>
          </tr>

          <tr height="150">
            <td widht="60%">
              <form id="registrationform">
                <table>
                  <tbody>
                    <tr></tr>
                    <tr>
                      <td>User Id*</td>
                      <td>
                        <input
                          type="text"
                          id="userId"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>Client Id*</td>
                      <td>
                        <input
                          type="text"
                          id="clientId"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>

                    <tr>
                      <td>First Name*</td>
                      <td>
                        <input
                          type="text"
                          id="firstname"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Last Name*</td>
                      <td>
                        <input
                          type="text"
                          id="lastname"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Job title*</td>
                      <td>
                        <input
                          type="text"
                          id="jobtitle"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Email*</td>
                      <td>
                        <input
                          type="text"
                          id="email"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Office Phone*</td>
                      <td>
                        <input
                          type="text"
                          id="officephone"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Cell Phone*</td>
                      <td>
                        <input
                          type="text"
                          id="cellphone"
                          placeholder="required"
                          required
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Is Staff*</td>
                      <td>
                        <input
                          type="radio"
                          id="isstaffyes"
                          name="program"
                          value="yes"
                        />
                        <label for="ift">Yes</label>
                        <input
                          type="radio"
                          id="isstaffno"
                          name="program"
                          value="no"
                        />
                        <label for="egr">No</label>
                      </td>
                    </tr>
                    <tr>
                      <td id="register" colspan="2" align="center">
                        <input
                          style="
                            font-face: 'Comic Sans MS';
                            font-size: larger;
                            height: 30px;
                            width: 90px;
                            background-color: yellow;
                            color: red;
                          "
                          id="registerbutton"
                          type="button"
                          value="Register"
                          class="register"
                        />
                      </td>
                      <td>
                        <a href="/">
                          <input type="button" value="Cancel" class="register"
                        /></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </center>
  </body>
</html>
